body{
  background-color: palevioletred;
  color: white;
}
.btnContainer{
  width: 100%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn{
  padding: 0.8rem 1.8rem;
  background-color: red;
  margin: auto;
  color: white;
  border-radius: 10px;
}
.img{
  border: 3px solid red;
  border-radius: 50%;
  object-fit: cover;
 
}
.birthdayContainer{
  background-color: white;
  width: 50%;
  margin: auto;
  color: black;
  padding: 1rem;
}
.birthdayDetail{
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
  margin: 0.2rem;
}
.birthdayDetail>div{
  padding: 0;
  margin: 0;
}
.birthtxt{
  text-align: center;
  color: black;
}
.birthdayDetail>div>h3,h6{
  padding: 0;
  margin: 0;
}